{
    "sub": "YOUR_USERNAME",
    "email": "your_email@example.com",
    "email_verified": true,
    "preferred_username": "YOUR_USERNAME",
    "name": "Your Full Name",
    "given_name": "First Name",
    "family_name": "Last Name"
}
