{
    "sub": "admin",
    "email": "admin@example.com",
    "email_verified": true,
    "preferred_username": "admin",
    "name": "Admin User",
    "given_name": "Admin",
    "family_name": "User"
}
